# -*- coding: utf-8 -*-

import typing as T
import dataclasses
from functools import cached_property

if T.TYPE_CHECKING:  # pragma: no cover
    {{ type_defs_line }}

def field(name: str):
    def getter(self):
        return self.boto3_raw_data[name]

    return cached_property(getter)

{% for tdd in tddm.tdds %}
{{ tdd.gen_code() }}
{% endfor %}