# -*- coding: utf-8 -*-

import typing as T
import dataclasses
from functools import cached_property

if T.TYPE_CHECKING:  # pragma: no cover
    {{ type_defs_line }}

{% for tdd in tddm.defs %}
{{ tdd.gen_code() }}
{% endfor %}