# -*- coding: utf-8 -*-

from typing import TYPE_CHECKING, List, Dict
import dataclasses
from functools import cached_property

from base import Base

if TYPE_CHECKING:  # pragma: no cover
    import type_defs

{% for tdd in tddm.mapping.values() %}
{{ tdd.gen_code() }}
{% endfor %}